@font-face {
  font-family: 'Lobster';
  src: url(../fonts/Lobster-Regular.ttf);
}

body {
  background: #ccc;
  font-family: 'Lobster';

  #title {
    text-align: center;

    img {
      width: 200px;
      display: block;
      margin: 0 auto;
    }
  }
}

